body {  
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #7b2fa7;
    font-family: Berlin Sans FB;
    font-size: 3em;
    color: #fdcb46;
    max-width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}  

.echantillon {
    width: 20px;
    height: 20px;
    margin: 2px;
    border: solid 1px black;
    display: inline-block;
}

.img-fluid {
    width: 180px;
    height: 150px;
}
a {
    color: pink;
}

#firstName-error, #lastName-error, #address-error, #city-error, #email-error {
    color: red;
}